In [1]:
import numpy as np
import pandas as pd

print("Hello world")

Hello world

In [4]:
data = open("liiklusjarelevalve_3.csv", encoding = "UTF-8")

# -----------------------------------

n = 0
data_list = []

for row in data:
    x = row.split("\t")
    
    l = len(x)
    k = 0

    while k < l:
        x[k] = x[k].replace('"', '')
        k += 1
        
    if n == 0: # First row of the csv file is the variables list so it is separated from the others
        cols = x
        n += 1
        
    else:
        data_list.append(x)
        n += 1
        #if n == 10:
         #   break
            
# ------------------------------------

traffic_df = pd.DataFrame(data_list, columns = cols)

traffic_df.head()

,JuhtumId,ToimKpv,ToimKell,ToimNadalapaev,Seadus,Paragrahv,ParagrahvTais,Loige,Punkt,RikutudOigusnorm,...,Lest_X,Lest_Y,SoidukLiik,SoidukRegRiik,SoidukMark,SoidukVlAasta,RikkujaSugu,RikkujaVanus,RikkujaElukoht,SyyteoLiik
0,9617cbde-1636-18d5-8326-a9a756483dba,2013-12-31,23:38,Teisipäev,Liiklusseadus,§ 242.,§ 242. Mootorsõiduki- või trammijuhi poolt lii...,lg. 1.,,LS § 76 lg. 1; § 73 lg. 1; § 106 lg. 3,...,6534000-6534499,473000-473499,SOIDUAUTO,EST,VOLKSWAGEN,1994,M,18-25,EST,VT\n
1,9617cc1a-1636-18d5-8326-a9a756483dba,2013-12-31,23:25,Teisipäev,Liiklusseadus,§ 227.,§ 227. Mootorsõidukijuhi poolt lubatud sõiduki...,lg. 2.,,LS § 15 lg. 1 p. 1,...,6577500-6577999,546500-546999,SOIDUAUTO,EST,VOLVO,2010,M,26-34,,VT\n
2,9617c9cc-1636-18d5-8326-a9a756483dba,2013-12-31,23:20,Teisipäev,Liiklusseadus,§ 201.,"§ 201. Mootorsõiduki, maastikusõiduki või tram...",lg. 1.,,LS § 90 lg. 1 p. 1,...,6588500-6588999,685500-685999,TUNDMATU,EST,CITROEN,2008,M,18-25,,VT\n
3,9617d20a-1636-18d5-8326-a9a756483dba,2013-12-31,23:20,Teisipäev,Liiklusseadus,§ 202.,"§ 202. Mootorsõiduki, maastikusõiduki või tram...",lg. 1.,,LS § 90 lg. 2,...,6588500-6588999,685500-685999,TUNDMATU,EST,CITROEN,2008,M,26-34,,VT\n
4,9617d20a-1636-18d5-8326-a9a756483dba,2013-12-31,23:20,Teisipäev,Liiklusseadus,§ 225.,"§ 225. Joobes isiku mootorsõidukit, maastikusõ...",lg. 1.,,LS § 90 lg. 2,...,6588500-6588999,685500-685999,TUNDMATU,EST,CITROEN,2008,M,26-34,,VT\n

In [5]:
traffic_df = traffic_df.rename(columns = {"SyyteoLiik\n" : "SyyteoLiik"})

In [10]:
tartu = traffic_df.loc[traffic_df.ValdLinnNimetus == 'Tartu linn']

In [14]:
tartu.head()

,JuhtumId,ToimKpv,ToimKell,ToimNadalapaev,Seadus,Paragrahv,ParagrahvTais,Loige,Punkt,RikutudOigusnorm,...,Lest_X,Lest_Y,SoidukLiik,SoidukRegRiik,SoidukMark,SoidukVlAasta,RikkujaSugu,RikkujaVanus,RikkujaElukoht,SyyteoLiik
18,9617ed94-1636-18d5-8326-a9a756483dba,2013-12-31,21:06,Teisipäev,Liiklusseadus,§ 227.,§ 227. Mootorsõidukijuhi poolt lubatud sõiduki...,lg. 2.,,LS § 15 lg. 1 p. 2,...,6475000-6475499,659000-659499,SOIDUAUTO,EST,CHRYSLER,2001,M,18-25,EST,VT\n
27,9617e9de-1636-18d5-8326-a9a756483dba,2013-12-31,20:28,Teisipäev,Liiklusseadus,§ 227.,§ 227. Mootorsõidukijuhi poolt lubatud sõiduki...,lg. 2.,,LS § 15 lg. 1 p. 2,...,6475000-6475499,659000-659499,SOIDUAUTO,EST,RENAULT,2005,M,35-44,,VT\n
35,9617ed3a-1636-18d5-8326-a9a756483dba,2013-12-31,19:19,Teisipäev,Liiklusseadus,§ 227.,§ 227. Mootorsõidukijuhi poolt lubatud sõiduki...,lg. 1.,,LS § 15 lg. 1 p. 2,...,6472000-6472499,656500-656999,SOIDUAUTO,EST,TOYOTA,2000,M,18-25,EST,VT\n
69,9617ec90-1636-18d5-8326-a9a756483dba,2013-12-31,14:19,Teisipäev,Liiklusseadus,§ 227.,§ 227. Mootorsõidukijuhi poolt lubatud sõiduki...,lg. 2.,,LS § 15 lg. 1 p. 2,...,6475000-6475499,659000-659499,SOIDUAUTO,EST,INFINITI,2004,N,35-44,,VT\n
75,9617ebaa-1636-18d5-8326-a9a756483dba,2013-12-31,13:44,Teisipäev,Liiklusseadus,§ 227.,§ 227. Mootorsõidukijuhi poolt lubatud sõiduki...,lg. 2.,,LS § 15 lg. 1 p. 2,...,6475000-6475499,659000-659499,SOIDUAUTO,EST,FORD,1998,M,55-64,,VT\n

In [89]:
tartu_data = tartu[['JuhtumId', 'ToimKpv', 'ToimKell', 'Lest_X', 'Lest_Y']]

In [77]:
tartu_data.head()

,JuhtumId,ToimKpv,ToimKell,Lest_X,Lest_Y
18,9617ed94-1636-18d5-8326-a9a756483dba,2013-12-31,21:06,6475000-6475499,659000-659499
27,9617e9de-1636-18d5-8326-a9a756483dba,2013-12-31,20:28,6475000-6475499,659000-659499
35,9617ed3a-1636-18d5-8326-a9a756483dba,2013-12-31,19:19,6472000-6472499,656500-656999
69,9617ec90-1636-18d5-8326-a9a756483dba,2013-12-31,14:19,6475000-6475499,659000-659499
75,9617ebaa-1636-18d5-8326-a9a756483dba,2013-12-31,13:44,6475000-6475499,659000-659499

In [90]:
tartu_data = tartu_data.reset_index().drop('index', axis = 1)

In [91]:
l = 0
for column in tartu_data:
    n = 0
    while n < len(tartu_data[column]):
        if tartu_data[column][n] == '':
            #print(str(column + ', ' + str(n)))
            tartu_data.drop(n)
            n += 1
            l += 1
            
        else:
            n += 1
            
print(l)

83

In [93]:
tartu_data.head()

,JuhtumId,ToimKpv,ToimKell,Lest_X,Lest_Y
0,9617ed94-1636-18d5-8326-a9a756483dba,2013-12-31,21:06,6475000-6475499,659000-659499
1,9617e9de-1636-18d5-8326-a9a756483dba,2013-12-31,20:28,6475000-6475499,659000-659499
2,9617ed3a-1636-18d5-8326-a9a756483dba,2013-12-31,19:19,6472000-6472499,656500-656999
3,9617ec90-1636-18d5-8326-a9a756483dba,2013-12-31,14:19,6475000-6475499,659000-659499
4,9617ebaa-1636-18d5-8326-a9a756483dba,2013-12-31,13:44,6475000-6475499,659000-659499

In [117]:
def coord(column):
    n = 0
    while n < len(tartu_data[column]):
        a = tartu_data[column][n].split('-')
        a[0] = int(a[0])
        a[1] = int(a[1])
        tartu_data[column][n] = round(sum(a)/2)
        n += 1

In [120]:
coord('Lest_X')
coord('Lest_Y')

In [121]:
tartu_data.head()

                               JuhtumId     ToimKpv ToimKell   Lest_X  Lest_Y
0  9617ed94-1636-18d5-8326-a9a756483dba  2013-12-31    21:06  6475250  659250
1  9617e9de-1636-18d5-8326-a9a756483dba  2013-12-31    20:28  6475250  659250
2  9617ed3a-1636-18d5-8326-a9a756483dba  2013-12-31    19:19  6472250  656750
3  9617ec90-1636-18d5-8326-a9a756483dba  2013-12-31    14:19  6475250  659250
4  9617ebaa-1636-18d5-8326-a9a756483dba  2013-12-31    13:44  6475250  659250